USE [master]
GO
/****** Object:  Database [skripsi]    Script Date: 2/28/2022 11:13:26 PM ******/
CREATE DATABASE [skripsi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'skripsi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\skripsi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'skripsi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\skripsi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [skripsi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [skripsi]
GO
/****** Object:  Table [dbo].[agama]    Script Date: 2/28/2022 11:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agama](
	[id_agama] [int] NOT NULL,
	[agama] [varchar](25) NOT NULL,
 CONSTRAINT [PK_agama] PRIMARY KEY CLUSTERED 
(
	[id_agama] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[golongan]    Script Date: 2/28/2022 11:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[golongan](
	[id_golongan] [int] NOT NULL,
	[golongan] [varchar](25) NOT NULL,
 CONSTRAINT [PK_golongan] PRIMARY KEY CLUSTERED 
(
	[id_golongan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instansi]    Script Date: 2/28/2022 11:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instansi](
	[id_instansi] [int] NOT NULL,
	[nama_instansi] [varchar](50) NOT NULL,
	[alamat_instansi] [varchar](150) NULL,
	[notelp_instansi] [varchar](14) NULL,
	[email_instansi] [varchar](50) NULL,
 CONSTRAINT [PK_instansi] PRIMARY KEY CLUSTERED 
(
	[id_instansi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pegawai]    Script Date: 2/28/2022 11:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pegawai](
	[nip_bps] [char](9) NOT NULL,
	[nip] [char](20) NULL,
	[nama] [varchar](50) NOT NULL,
	[jenis_kelamin] [char](2) NOT NULL,
	[tempat_lahir] [varchar](25) NULL,
	[tanggal_lahir] [char](10) NOT NULL,
	[no_telepon] [varchar](14) NULL,
	[no_handphone] [varchar](14) NULL,
	[email] [varchar](50) NULL,
	[alamat] [varchar](150) NULL,
	[perkiraan_pensiun] [char](4) NULL,
	[jabatan_terkahir] [varchar](100) NULL,
	[id_status_pegawai] [int] NOT NULL,
	[id_instansi] [int] NOT NULL,
	[id_status_perkawinan] [int] NOT NULL,
	[id_agama] [int] NOT NULL,
	[id_golongan] [int] NOT NULL,
 CONSTRAINT [PK_pegawai] PRIMARY KEY CLUSTERED 
(
	[nip_bps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pendidikan]    Script Date: 2/28/2022 11:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pendidikan](
	[nip_bps] [char](9) NOT NULL,
	[nama_prodi_jurusan] [varchar](25) NOT NULL,
	[nama_instansi_pendidikan] [varchar](50) NULL,
	[tahun_lulus] [char](4) NULL,
 CONSTRAINT [PK_pendidikan] PRIMARY KEY CLUSTERED 
(
	[nip_bps] ASC,
	[nama_prodi_jurusan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_pegawai]    Script Date: 2/28/2022 11:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_pegawai](
	[id_status_pegawai] [int] NOT NULL,
	[status_pegawai] [varchar](25) NOT NULL,
 CONSTRAINT [PK_status_pegawai] PRIMARY KEY CLUSTERED 
(
	[id_status_pegawai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_perkawinan]    Script Date: 2/28/2022 11:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_perkawinan](
	[id_status_perkawinan] [int] NOT NULL,
	[status_perkawinan] [varchar](25) NOT NULL,
 CONSTRAINT [PK_status_perkawinan] PRIMARY KEY CLUSTERED 
(
	[id_status_perkawinan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
